html
{
	height:100%
}
h1,h2,h3,h4,h5,h6
{
	font-weight:700
}
body
{
	height:100%;
	min-height:35rem;
	position:relative;
	font-weight:300
}

.masthead
{
	position:relative;
	overflow:hidden;
	padding-bottom:3rem;

}
.masthead .masthead-bg
{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	width:100%;
	min-height:35rem;
	height:100%;
	background-color:#64BADC;
	transform:skewY(4deg);
	transform-origin:bottom right
}
.masthead .masthead-content h1{
	font-size:2.5rem
}
.masthead .masthead-content p{
	font-size:1.2rem
}
.masthead .masthead-content p strong{
	font-weight:700
}
.masthead .masthead-content .input-group-newsletter input
{
	font-size:1rem;
	padding:1rem
}
.masthead .masthead-content .input-group-newsletter button
{
	font-size:.8rem;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:1px;
	padding:1rem
}

@media (min-width:768px){
	.masthead
	{
		height:100%;
		min-height:0;
		padding-bottom:0
	}
	.masthead .masthead-bg{
		min-height: 0;
		width:60%;
    	transform: skewX(17deg);
	}
	.masthead .masthead-content
	{
		padding-left:3rem;
		padding-right:10rem
	}
	.masthead .masthead-content h1
	{
		font-size:3.5rem
	}
	.masthead .masthead-content p
	{
		font-size:1.3rem
	}
}
